<div class="column1">
  <h1> Welcome to Lunch Trails</h1>
  <h2> Helping hungry herds everywhere find lunch!</h2>
</div>

<div class="column2">
  <a href="/trucks/new" method="get" ><button>Lunch Truck Login Here</button></a>
</div>

<%= form_tag("/search/create", :method => :post) do -%>
	<label>Enter your current location:</label>
	<%= text_field_tag :location, "" %>

  	<label>Radius from your location:</label>
	<%= select_tag :radius, options_for_radius %>
	
	<%= submit_tag "Search" %>
<% end -%>

<%= render :partial => 'search_results' %>
